<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zombie Shooter</title>
    <style>
        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>

<body>
    <canvas id="canvas"></canvas>

    <script src="JS/class/player.js"></script>
    <script src="JS/class/bullet.js"></script>
    <script src="JS/events.js"></script>
    <script src="JS/main.js"></script>

</body>

</html>